.channel-description {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  width: fit-content;
}

.channel-description__photo {
  & > div {
    width: 40px;
    height: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
}

.channel-description__info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  min-width: 100px;

  & > * {
    width: fit-content;
    color: rgb(97, 97, 101);
    font-family: Roboto, serif;
    text-align: left;
  }

  h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }

  h5 {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
  }

  h6 {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
  }
}

.channel-description__tags {
  display: flex;
  gap: 5px;
  height: fit-content;
  padding-top: 20px;
  flex-wrap: wrap;
  max-width: 120px;

  & > div {
    padding: 2px 15px;
    box-sizing: border-box;
    border: 1px solid rgb(152, 152, 152);
    border-radius: 15px;
    background: rgb(113, 255, 119);

    color: rgb(97, 97, 101);
    font-family: Roboto, serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
  }
}