* {
  margin: 0;
  box-sizing: border-box;
}

/* ---------------- Navbar and burger menu ------------------ */
nav {
  width: 100%;
  height: 30px;
  background: rgb(37, 39, 53);
  display: flex;
  justify-content: flex-start;

}

.burger-menu {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.burger-bar {
  width: 32px;
  height: 4px;
  background-color: rgb(0, 183, 255);
  border-radius: 0.5em;
  z-index: 10;
}

.menu {
  width: 100px; /* WIDTH*/
  height: 100vh;
  background-color: rgb(154, 181,240);
  position: absolute;
  top: 0;
}

/* ------------- sliding menu ------------------ */
.hidden {
  display: none;
}

.visible {
  padding-top: 30px;
  display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
  transform: rotate(45deg) translate(7.5px, 12.5px);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
  transform: scale(0.01);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
  transform: rotate(135deg) translate(-6px, 11px);
  transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}